@import '../../global.scss';

.header{
    background-color: white;
    width: 100vw;
    height: 60px;
    display: flex;
    z-index: 500;
    box-shadow: 0 0 5px 0 grey;
    position: fixed;

    .left {
        flex: 0.8;
        margin: 0 20px;
        display: flex;
        flex-direction: row;
        align-items: center;
        float: left;

        .hamburger {
            width: 30px;
            height: 25px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            cursor: pointer;

            span{
                width: 100%;
                height: 3px;
                transform-origin: left;
                background-color: $mainColor;
                transition: all 1s ease;
            }
        }

        .searchBar{
            width: calc(100% - 300px);
            height: 35px;
            float: right;
            margin-left: auto;
            margin-right: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;

            .icon{
                width: 60px;
                height: 35px;
                background-color: $mainColor;
                position: absolute;
                left: 0;
                color: white;
                padding: 3px;
                border-radius: 18px 2px;
                cursor: pointer;
            }

            input{
                width: 100%;
                height: 35px;
                border: 2px solid $mainColor;
                border-radius: 20px;
                padding: 0 30px 5px 65px;
                font-size: 14px;

                &:focus {
                    border: 3px solid $mainColor;
                    outline: none;
                }
            }
            
            .cross{
                color: $mainColor;
                position: absolute;
                right: 10px;

                .crossIcon{
                    width: 17px;
                    height: 17px;
                    padding-bottom: 5px;
                    cursor: pointer;
                }
            }
        }

        .active {
            span{
                &:first-child, &:last-child {
                    transform: rotate(45deg);
                }

                &:nth-child(2) {
                    opacity: 0;
                }

                &:last-child {
                    transform: rotate(-45deg);
                }
            }
        }
        

        img{
            margin-left: 40px;
            width: 120px;
            cursor: pointer;
        }
    }


    .right{
        flex: 0.3;
        display: flex;
        align-items: center;

        .wrapper{
            margin-left: auto;
            margin-right: 20px;
            display: flex;
            flex-direction: row;
            justify-content: center;

            .navlink{
                padding: 5px;
                margin-right: 10px;
                a{
                    text-decoration: none;
                    font-weight: 400;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    color: rgb(70, 68, 68);
                    font-size: 12px;

                    span {
                        .navbarIcon{
                            width: 20px;
                            height: 20px;
                        }
                    }
                }

                &:first-child{
                    a{
                        span{
                            .navbarIcon{
                                margin-bottom: -2px;
                            }
                        }
                    }
                }
            }
        }
    }
    
}